<form>
  <div class="title" class="title">{{ title | uppercase }}</div>
  <label for="login">Login</label>
  <input id="login" name="login" />
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <div class="containerButtons">
    <app-ordinary-button
      text="Log in"
      [maxWidth]="true"
      addClass="login"
    ></app-ordinary-button>
    <div class="orDiv">
      <div class="or">OR</div>
      <div class="hr"></div>
    </div>

    <app-ordinary-button
      text="Sign up"
      [maxWidth]="true"
      type="submit"
      addClass="register"
    ></app-ordinary-button>
  </div>
  <div class="about">What is <span> CHRONI</span> ?</div>
</form>
