<form [formGroup]="mainForm" (ngSubmit)="onLogin()">
  <div class="title" class="title">{{ title | uppercase }}</div>
  <label
    for="login"
    [ngClass]="{
      invalidInput:
        !mainForm.controls['login'].valid && mainForm.controls['login'].touched
    }"
    >Login</label
  >
  <input id="login" name="login" formControlName="login" />
  <div
    class="validAlert"
    *ngIf="
      !mainForm.controls['login'].valid && mainForm.controls['login'].touched
    "
  >
    Login must be at least 4 characters
  </div>
  <label
    for="password"
    [ngClass]="{
      invalidInput:
        !mainForm.controls['password'].valid &&
        mainForm.controls['password'].touched
    }"
    >Password</label
  >

  <input
    id="password"
    name="password"
    type="password"
    formControlName="password"
  />
  <div
    class="validAlert"
    *ngIf="
      !mainForm.controls['password'].valid &&
      mainForm.controls['password'].touched
    "
  >
    Password must be at least 4 characters
  </div>
  <div class="containerButtons" *ngIf="!isLoadingStatus; else loader">
    <div *ngIf="invalidMessage" class="check">
      {{ "Check every inputs!!!" | uppercase }}
    </div>

    <app-ordinary-button
      text="Log in"
      [maxWidth]="true"
      addClass="login"
      type="submit"
    ></app-ordinary-button>
    <div class="orDiv">
      <div class="or">OR</div>
      <div class="hr"></div>
    </div>

    <app-ordinary-button
      text="Sign up"
      [maxWidth]="true"
      addClass="register"
      [callbackFunction]="onRegister"
    ></app-ordinary-button>
  </div>
  <ng-template #loader>
    <app-auth-loader></app-auth-loader>
  </ng-template>
  <div class="about" (click)="displayModal()">
    What is <span> CHRONI</span> ?
  </div>
</form>
