.classAnimation {
  height: 200px;
  animation: animation 18s infinite linear;
  position: absolute;
  right: 5%;
  top: 10%;

  filter: blur(4px);
}

@media (max-width: 1200px) {
  .classAnimation {
    height: 160px;
  }
}
@media (max-width: 780px) {
  .classAnimation {
    height: 140px;
  }
}
@media (max-width: 570px) {
  .classAnimation {
    height: 70px;
  }
}
@media (max-width: 440px) {
  .classAnimation {
    height: 30px;
  }
}

@keyframes clockAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animation {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-100px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
