main {
  background-color: var(--backColor);
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.screenSaver {
  transform: translateY(-80px);
}
h1 {
  color: var(--fontColor);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  margin-bottom: 40px;
}
.lackEvents {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
