<app-navigation></app-navigation>
<main *ngIf="choosenEvent">
  <div #mainInfo class="center">
    <app-whole-set-info
      [eventDate]="choosenEvent.dataEvent"
      [title]="choosenEvent.title"
      [description]="choosenEvent.description"
    ></app-whole-set-info>
  </div>
  <app-buttons-panel
    [screenSaverFn]="turnOnScreenSaverMode"
  ></app-buttons-panel>
  <app-list-events></app-list-events>
</main>
<div *ngIf="!eventList.length" class="lackEvents">
  <h1>Lack of Events</h1>
  <app-ordinary-button
    text="Add new event"
    [callbackFunction]="addNewEvent"
    addClass="ok"
  ></app-ordinary-button>
</div>
