svg {
  width: 95px;
  height: auto;
  margin: 5px;
}

svg > path {
  fill: var(--helpDarkColor);
  transition: all 0.15s ease-in-out;
}
svg.versionList > path {
  fill: black;
  stroke: rgb(63, 63, 63);
}
svg > path.activeNumber {
  fill: white;
}
.versionList {
  width: 55px;
}
