<div class="mainContainer">
  <div class="containerNumbers">
    <app-digital-plus
      *ngIf="objectToDisplayClock.more"
      [versionList]="versionList"
    ></app-digital-plus>
    <app-digital-number
      [activeNumbers]="objectToDisplayClock.firstNumber"
      [versionList]="versionList"
    ></app-digital-number>
    <app-digital-number
      [versionList]="versionList"
      [activeNumbers]="objectToDisplayClock.secondNumber"
    ></app-digital-number>
  </div>
  <div class="titleType" [ngClass]="{versionList}">
    {{ nameTypeDate | uppercase }}
  </div>
</div>
