.classAnimation {
  height: 200px;
  animation: animation 18s infinite linear;
  position: absolute;
  left: 5%;
  top: 10%;

  filter: blur(4px);
}

@media (max-width: 1200px) {
  .classAnimation {
    height: 160px;
  }
}
@media (max-width: 780px) {
  .classAnimation {
    height: 140px;
  }
}
@media (max-width: 570px) {
  .classAnimation {
    height: 70px;
  }
}
@media (max-width: 440px) {
  .classAnimation {
    display: none;
  }
}
@keyframes animation {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(100px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
