.login,
.ok {
  background-color: var(--fontColor);
  color: white;
}
.register {
  background-color: white;
  color: black;
}
.autoLog {
  margin-top: 20px;
  font-size: 0.95em;
}
button {
  cursor: pointer;
  min-width: 120px;
  padding: 10px 8px;
  text-transform: uppercase;
  font-family: "Lato";
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  transition: all 0.1s ease-in-out;
  &:disabled {
    font-size: 4rem;
  }
}
.maxWidth {
  width: 100%;
}
