<div class="sectionList">
  <div class="headerList" (click)="toggleOpenList()">
    Look more events

    <img
      src="./assets/arrowVector.svg"
      alt=""
      [ngClass]="{ active: openList }"
    />
  </div>
  <div class="listContainer" [ngClass]="{ active: openList }">
    <div *ngFor="let set of listEvents" class="singleEvent">
      <app-whole-set-info
        [eventDate]="set.dataEvent"
        [versionList]="true"
      ></app-whole-set-info>
      <div class="info">
        <h2>{{ set.title | sliceText }}</h2>
      </div>
    </div>
  </div>
</div>
