.blur {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: 10;
}
.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  min-width: 380px;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 15;
  background-color: var(--helpDarkColor);
  box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.36);
  border: 4px solid white;
  border-radius: 15px;
  margin: 10px;
  max-width: 750px;
}
h2 {
  color: var(--fontColor);
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-family: "Oswald";
  font-weight: 600;
}
p {
  color: white;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 20px;
}
