<div
  class="containerEvent"
  [title]="eventDate | date: 'longDate'"
  [ngClass]="{
    screenSaver: isScreenSaverMode
  }"
>
  <h1
    *ngIf="title"
    [ngClass]="{
      screenSaverTitle: isScreenSaverMode
    }"
  >
    {{ title }}
  </h1>
  <div
    class="containerAllSets"
    *ngIf="!objectCountdown.end"
    [ngClass]="{versionList}"
  >
    <app-single-set-data-info
      *ngFor="let type of typesOfNumbers"
      [numbersOfDate]="objectCountdown[type]"
      [nameTypeDate]="type"
      [versionList]="versionList"
    ></app-single-set-data-info>
  </div>
  <div *ngIf="objectCountdown.end" class="end">THE END</div>
  <p *ngIf="!isScreenSaverMode && description">{{ description }}</p>
</div>
