<div class="buttonsContainer">
  <div *ngIf="activeInputAddById" class="activeInput">
    <input [(ngModel)]="id" type="text" placeholder="Write ID to add event" />

    <div class="buttonsToAddById">
      <app-ordinary-button
        [callbackFunction]="addEventById"
        text="add"
        addClass="addById"
      ></app-ordinary-button>
      <app-ordinary-button
        [callbackFunction]="closeAddEventDiv"
        text="close"
        addClass="close"
      ></app-ordinary-button>
    </div>
  </div>
  <div class="flexRow">
    <app-single-button
      namePng="Add"
      textTooltip="Add new event"
      [callbackFunction]="addEvent"
    ></app-single-button>
    <app-single-button
      namePng="Update"
      textTooltip="Edit this event"
      [callbackFunction]="editThisEvent"
    ></app-single-button>

    <app-single-button
      namePng="Trash"
      textTooltip="Delete this event"
      [callbackFunction]="deleteMainEvent"
    ></app-single-button>

    <div class="marginLeft">
      <app-single-button
        namePng="AddID"
        textTooltip="Add exist event from other user by ID event"
        [callbackFunction]="toggleInputToAddById"
      ></app-single-button>
      <app-single-button
        namePng="Id"
        textTooltip="Share Id to your friends"
        [callbackFunction]="showId"
      ></app-single-button>
    </div>
    <div class="marginLeft">
      <app-single-button
        namePng="FullScreen"
        textTooltip="Turn on screensaver mode. (Click ESC to turn off)"
        [callbackFunction]="turnOnScreenSaver"
      ></app-single-button>
    </div>
  </div>
</div>
