<div class="singleEvent">
  <app-whole-set-info
    [eventDate]="dataEvent"
    [versionList]="true"
  ></app-whole-set-info>
  <div class="info">
    <h2>{{ title | sliceText }}</h2>

    <div class="flexRow" *ngIf="!loadingForDeleting">
      <app-single-button
        namePng="Eye"
        textTooltip="Show on main screen"
        [callbackFunction]="changeMainEvent"
      ></app-single-button>
      <app-single-button
        namePng="Update"
        textTooltip="Update this event"
        [callbackFunction]="updateThisEvent"
      ></app-single-button>
      <app-single-button
        namePng="Trash"
        textTooltip="Delete this event"
        [callbackFunction]="deleteThisEvent"
      ></app-single-button>
      <app-single-button
        namePng="Id"
        textTooltip="Copy Id to share your event"
        [callbackFunction]="showId"
      ></app-single-button>
    </div>

    <app-auth-loader *ngIf="loadingForDeleting"></app-auth-loader>
  </div>
</div>
