.singleEvent {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  .info {
    margin: 0 10px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    h2 {
      color: var(--fontColor);
    }
  }
  .flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
}
