button {
  // background-color: var(--fontColor);
  border: 2px solid white;
  background-color: transparent;
  border-radius: 8px;
  position: relative;
  font-family: "Lato";
  font-size: 0.65rem;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 37px;
  }
  &::after {
    content: attr(textTooltip);
    position: absolute;
    top: -30px;
    background-color: var(--helpDarkColor);
    color: white;
    padding: 3px 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: max-content;
  }
  &:hover::after {
    opacity: 1;
  }
}
