button {
  // background-color: var(--fontColor);
  border: 2px solid white;
  background-color: transparent;
  border-radius: 8px;
  position: relative;
  font-family: "Lato";
  font-size: 0.65rem;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 39px;
  }
  &::after {
    content: attr(textTooltip);
    position: absolute;
    top: -30px;
    z-index: 5;
    background-color: var(--helpDarkColor);
    color: white;
    padding: 3px 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: max-content;
    max-width: 200px;
    display: none;
  }
  &:hover::after {
    opacity: 1;
    display: block;
  }
}
@media (max-width: 900px) {
  button {
    border-radius: 6px;

    font-size: 0.5rem;

    margin: 4px;
    padding: 4px;

    img {
      width: 32px;
    }
    &::after {
      display: none;
    }
  }
}
@media (max-width: 570px) {
  button {
    margin: 8px;
  }
}
@media (max-width: 440px) {
  button {
    margin: 14px;
    padding: 5px;
    img {
      width: 38px;
    }

    &:hover::after {
      display: none;
    }
  }
}
